@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;400;600&display=swap');
// font-family: 'Raleway', sans-serif



//@font-face {
//    font-family: Roboto;
//    src: url(../fonts/Roboto-Thin.ttf);
//    font-weight: 100;
//    font-style: normal;
// }
